
<div id="Box_Link">
    <div class="Top_Link">
        <span>Liên kết website</span>
    </div>
    <div class="Bottom_Link">
        @Html.Raw(ViewBag.chuoi)

    </div>
</div>
@model Ariston.Models.tblConfig
<div style="width:100%; height:auto; float:left; margin:10px 0px">

    @Html.Raw(Model.Content)
</div>